body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-ting {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container-title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(147, 150, 213, 0.75);
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-form label {
    font-weight: bold;
    margin-top: 10px;
}

.input-form .input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-form button {
    background-color: rgba(147, 180, 213, 0.75);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.input-form button:hover {
    background-color: rgba(45, 116, 189, 0.75);
}

.input-form button:active {
    background-color: rgba(45, 116, 189, 0.75);
}