<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Create Profile</title>
    <link rel="stylesheet" href="/static/main.css">
    <style>
        html, body {
            height: 100%;
        }
        html {
            display: table;
            margin: auto;
        }
        body {
            display: table-cell;
            vertical-align: middle;
        }
        div  {
            text-align: center;
            width: 400px;
            border: 2px solid black;
            border-radius: 10px;
            padding: 60px;
        }
    </style>
</head>
<body>
    <div class="container-login">
        <span class="container-title">Opret profil</span>


    <form class="input-form" method="post" th:action="@{/createProfile}" th:object="${user}">
        <br>
        <label class="create-form-label" for="username">Brugernavn</label>
        <br>
        <input class="input" required id="username" th:field="*{username}">
        <br>
        <br>
        <label class="create-form-label" for="password">Kodeord</label>
        <br>
        <input class="input" required id="password" th:field="*{password}">
        <br>
        <br>
        <form method="POST" th:action="@{'/create'}">
            <button type="submit">Opret</button>
        </form>


    </form>

</div>
</body>
</html>