<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Tilføj et ønske</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<h1>Tilføj et ønske</h1>
<form class="wish-form" method="post" th:action="@{}" th:object="${wish}">
    <label for="product-name">Produkt navn</label>
    <input class="input" required id="product-name" th:field="*{name}">
    <label for="product-description">Beskrivelse af produktet</label>
    <input class="input" required id="product-description" th:field="*{description}">
    <label for="product-price">Pris</label>
    <input type="number" id="product-price" min="0"/>
    <button type="submit">Tilføj ønske</button>
</form>
</body>
</html>