<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<div class="container-ting">
    <span class="container-title">Lav din Ønskeseddel</span>
    <!-- '1' tallet ved /wishlist/HER/create er en placeholder for userid TIL TEST -->
    <form class="input-form" method="post" th:action="@{1/create}" th:object="${wishlist}">
        <label for="product-name">Navn på ønskeseddel</label>
        <input class="input" required id="product-name" th:field="*{name}">
        <label for="product-description">Beskrivelse af ønskeseddel</label>
        <input class="input" required id="product-description" th:field="*{description}">
        <button type="submit">Opret ønskeseddel</button>
    </form>
</div>
</body>
</html>