<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Create Profile</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body class="container-login">
<form class="input-form" method="post" th:action="@{/wishlist/createProfile/save}" th:object="${user}">
    <div>
        <h1 class="wishlist-title">Opret profil</h1>
        <label class="create-form-label" for="username">Brugernavn</label>
        <br>
        <input class="create-text-input" required id="username" th:field="*{username}">
        <br><br>
    </div>
    <div>
        <label class="create-form-label" for="password">Kodeord</label>
        <br>
        <input class="create-text-input" required id="password" th:field="*{password}">
        <br><br>
    </div>
    <button type="submit">Opret</button>

    </form>
</body>
</html>