<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Rediger Ønske</title>
    <link href="/createwishlist.css" rel="stylesheet">
</head>
<body>
<div class="container-ting">
    <span class="container-title">Rediger Ønske</span>

    <form class="input-form" method="post" th:action="@{'/wishlist/' + ${wishlistId} + '/wish/' + ${wish.id} + '/edit'}" th:object="${wish}">
        <label for="product-name">Produkt navn</label>
        <input class="input" required id="product-name" th:field="*{name}">
        <label for="product-description">Beskrivelse af produktet</label>
        <input class="input" required id="product-description" th:field="*{description}">
        <label for="product-price">Pris</label>
        <input type="number" id="product-price" min="0" required th:field="*{price}">
        <label for="product-url">Link til produktet</label>
        <input id="product-url" th:field="*{url}">

        <button type="submit">Opdater ønske</button>
    </form>
</div>
</body>
</html>