<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>wishlist</title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>
<div>
    <a th:href="@{'/wishlist/' + ${wishlistID} + '/createWish'}" class="button">Opret Ønske</a>
</div>
<h1 th:text="${wishlist.getName()}"></h1>

<table>
<thead>
<tr>
    <th>Wish Navn</th>
    <th>Beskrivelse</th>
    <th>Pris</th>
    <th>Link</th>
    <th>Handlinger</th>
</tr>
</thead>


    <tbody>
    <tr th:each="Wish : ${wishlist.getWishes}">
        <td th:text="${Wish.getName()}">Wish Name</td>
        <td th:text="${Wish.getDescription()}">Description</td>
        <td th:text="${Wish.getPrice()}">Price</td>
        <td th:block th:if="${Wish.getUrl() != null}">
            <a th:href="@{${Wish.getUrl()}}">link til ønsket</a></td>
        <td>
            <th:block th:each="wish : ${wishList}">
                <a th:href="@{${wishlist.id} + '/wish/' + ${wish.id} + '/edit-form'}" methods="get" class="button">Edit</a>
            </th:block>
            <form th:action="@{'/wishlist/' + ${Wish.id} + '/delete-wish'}" method="post" style="display:inline;">
                <input type="hidden" name="wishlistId" th:value="${wishlist.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>