<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- gør siden mobil-venlig i layout -->
    <title>WishList</title>
    <link rel="stylesheet" href="/static/homepage.css"> <!-- den kan ikke finde css for mig - Lasse -->
</head>
<body>

<div class="welcome-box">
    <h1>Velkommen!</h1>
    <p>Vil du lave en ønskeliste?</p>
    <a href="#" th:href="@{/create}" class="button">ØNSKEKNAPPEN</a>
</div>
<!-- det her ser helt fucked ud men vi finde ud af hvordan det skal styles - Lasse-->
<div class="wishlist-container" th:each="wishlist : ${wishlists}">
    <h1 th:text="${wishlist.getName()}"></h1>
    <h2 th:text="${wishlist.getDescription()}"></h2>
    <form method="POST" th:action="@{'/' + ${wishlist.getId()} + '/delete-wishlist'}">
        <button type="submit">Delete Wishlist</button>
    </form>
</div>
</body>
</html>