<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishList</title>
    <!-- Correct the path to the stylesheet -->
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>

<div>
    <a th:href="@{/wishlist/create}" class="button">Create Wishlist</a>
</div>

<div class="wishlist-container" th:each="wishlist : ${wishlists}">
    <div class="welcome-box">
        <h1 th:text="${wishlist.getName()}">Wishlist Name</h1>
        <h2 th:text="${wishlist.getDescription()}">Wishlist Description</h2>
        <form th:action="@{'/wishlist/' + ${wishlist.getId()} + '/delete-wishlist'}" method="post">
            <button type="submit" class="button">Delete Wishlist</button>
        </form>
    </div>
</div>

</body>
</html>