<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link href="/homepage.css" rel="stylesheet">
</head>
<body class="container-login">
<form th:action="@{/login}" th:object="${user}" class="create-form" method="post">
    <div class="form-group">
        <label class="create-form-label" for="username">Brugernavn</label>
        <br>
        <input class="create-text-input" type="text" id="username" th:field="*{username}" required autocomplete="username">
        <br><br>
    </div>
    <div class="form-group">
        <label class="create-form-label" for="password">Kodeord</label>
        <br>
        <input class="create-text-input" type="password" id="password" th:field="*{password}" required autocomplete="current-password">
        <br><br>
    </div>
    <button type="submit" class="button">Login</button>
</form>
<br><br>
<a href="/createProfile" class="button" role="button">Opret profil</a>
</body>
</html>