<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body class="container-login">
<form th:action="@{/wishlist/login}" th:object="${user}" class="create-form" method="post">
    <div class="form-group">
        <h1 class="wishlist-title">Wishlist</h1>
        <label class="create-form-label" for="name">Brugernavn</label>
        <br>
        <input class="create-text-input" type="text" id="name" th:field="*{name}" required>
        <br><br>
    </div>
    <div class="form-group">
        <label class="create-form-label" for="password">Kodeord</label>
        <br>
        <input class="create-text-input" type="password" id="password" th:field="*{password}" required>
        <br><br>
    </div>
    <button type="submit" class="button">Login</button>

    <a th:href="@{/wishlist/createProfile}" class="button">Opret profil</a>
</form>
<br><br>
</body>
</html>